@import "../../../assets/var";

.el-radio {
    color: $grey700;
    font-weight: 500;
    line-height: 1;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    outline: none;
    font-size: 14px;
    user-select: none;

    &.is-checked {
        &+.el-radio__label {
            color: $blue400;
        }
        .el-radio__input {

            &.is-checked {
                .el-radio__inner {
                    border-color: $blue400;
                    background: $blue400;
                }
            }
        }
    }

    &.is-disabled {
        & + span.el-radio__label {
            color: $ccGrey;
            cursor: not-allowed;
        }
        .el-radio__input {

            &.is-disabled {
                .el-radio__inner {
                    background-color: $bgGrey;
                    border-color: $grey200;
                    cursor: not-allowed;

                    &::after{
                        cursor: not-allowed;
                        background-color: $bgGrey;
                    }
                }
            }
        }
    }

    .el-radio__input {
        white-space: nowrap;
        cursor: pointer;
        outline: none;
        display: inline-block;
        line-height: 1;
        position: relative;
        vertical-align: middle;

        &::after {
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background-color: $whiteBg;
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform .15s ease-in;
        }
    }

    .el-radio__inner {
        border: $border-weak;
        border-radius: 100%;
        width: 14px;
        height: 14px;
        background-color: $whiteBg;
        position: relative;
        cursor: pointer;
        display: inline-block;
        box-sizing: border-box;
    }

    .el-radio__original {
        opacity: 0;
        outline: none;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
    }

    .el-radio__label {
        font-size: 14px;
        padding-left: 10px;
    }
}
