@import "../../../assets/var";

.el-date-picker {
    display: inline-block;
    position: relative;
    cursor: pointer;
    &::ng-deep {
        .el-input {
            min-width: 180px;
        }
        .el-input__inner {
            cursor: pointer;
            box-sizing: border-box;
        }
    }
}

.el-year-table, .el-month-table {
    font-size: 12px;
    margin: -1px;
    border-collapse: collapse;
    td {
        text-align: center;
        padding: 20px 3px;
        cursor: pointer;

        .cell {
            width: 48px;
            height: 32px;
            display: block;
            line-height: 32px;
            color: #606266;
            margin: 0 auto;
        }
    }
}

.el-date-table {
    font-size: 12px;
    user-select: none;

    th {
        padding: 5px;
        color: #606266;
        font-weight: 400;
        border-bottom: 1px solid #ebeef5;
    }

    td {
        width: 32px;
        height: 30px;
        padding: 4px 0;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
        position: relative;

        &.current:not(.disabled) span {
            color: #fff;
            background-color: #409eff;
        }

        &.available {
            &:hover {
                color: #409eff;
            }
        }
        &.today {
            position: relative;
        }

        div {
            height: 30px;
            padding: 3px 0;
            box-sizing: border-box;
        }

        span {
            width: 24px;
            height: 24px;
            display: block;
            margin: 0 auto;
            line-height: 24px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
        }
        &.prev-month, &.next-month {
            color: #c0c4cc;
        }
    }
}

.el-picker-panel {
    position: absolute;
    box-sizing: border-box;
    color: $grey700;
    border: $border-weak;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    background: $whiteBg;
    border-radius: 4px;
    line-height: 30px;
    margin: 5px 0;
    width: 324px;
    opacity: 0;
    table {
        table-layout: fixed;
        width: 100%;
    }

    &__content {
        width: 292px;
    }

    &__content {
        position: relative;
        margin: 15px;
    }

    &__header {
        margin: 12px;
        text-align: center;

        &-label {
            font-size: 16px;
            font-weight: 500;
            padding: 0 5px;
            line-height: 22px;
            text-align: center;
            cursor: pointer;
            color: #606266;
        }
    }

    &__icon-btn {
        font-size: 16px;
        color: #303133;
        border: 0;
        background: transparent;
        cursor: pointer;
        outline: none;
        margin-top: 8px;
        font-family: blog-icon;
        &:hover {
            color: #409eff;
        }
    }

    &__prev-btn {
        float: left;
    }

    &__next-btn {
        float: right;
    }
}
