.DS_Store
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log
package-lock.lock
yarn.lock
front-end/blog-admin/node_modules/
front-end/blog-index/node_modules/
front-end/blog-index/.idea/
front-end/blog-admin/.idea/
front-end/blog-admin/dist/
front-end/blog-index/dist/
front-end/blog-admin/yarn.lock
front-end/blog-index/yarn.lock
logs/
uploads/
