@import "../../../assets/var";

::ng-deep{
    .el-right-part__top{
        .el-label{
            margin: 9px 0;
        }
    }

    .el-right-part__to-now{
        position: relative;
        margin-bottom: 5px;
        .el-button{
            padding: 7px 12px;
            float: right;
            margin: 4px 12px;
        }

        &:before{
            position: absolute;
            content: '';
            left: 12px;
            right: 12px;
            bottom: 0;
            height: 1px;
            background-color: #ebeef5;
        }
    }

}




.el-date-picker {
    display: inline-block;
    position: relative;
    cursor: pointer;


    &::ng-deep {
        .el-input {
            min-width: 180px;
        }
        .el-input__inner {
            cursor: pointer;
            box-sizing: border-box;
        }

    }

}

.el-year-table, .el-month-table {
    font-size: 12px;
    margin: -1px;
    border-collapse: collapse;
    td {
        text-align: center;
        padding: 20px 3px;
        cursor: pointer;

        .cell {
            width: 48px;
            height: 32px;
            display: block;
            line-height: 32px;
            color: #606266;
            margin: 0 auto;
        }
    }
}

.el-date-table {
    font-size: 12px;
    user-select: none;

    th {
        padding: 5px;
        color: #606266;
        font-weight: 400;
        border-bottom: 1px solid #ebeef5;
    }

    td {
        width: 32px;
        height: 30px;
        padding: 4px 0;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
        position: relative;

        &.current:not(.disabled) span {
            color: #fff;
            background-color: #409eff;
        }

        &.available {
            &:hover {
                color: #409eff;
            }
        }
        &.today {
            position: relative;
        }

        div {
            height: 30px;
            padding: 3px 0;
            box-sizing: border-box;
        }

        span {
            width: 24px;
            height: 24px;
            display: block;
            margin: 0 auto;
            line-height: 24px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
        }
        &.prev-month, &.next-month {
            color: #c0c4cc;
        }
    }
}

.el-picker-panel {
    position: absolute;
    box-sizing: border-box;
    color: $grey700;
    border: $border-weak;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    background: $whiteBg;
    border-radius: 4px;
    line-height: 30px;
    margin: 5px 0;
    width: 574px;
    opacity: 0;

    .el-row__btn{
        position: absolute;
        left: 12px;
        bottom: 12px;
        right: 12px;
        text-align: right;

    }

    &::ng-deep{
        .el-picker-panel__right-part{
            .el-input{
                > .el-input__inner{
                    height: 26px ;
                    line-height: 26px;
                    padding: 0 8px;
                }
                //height: 26px;
                //line-height: 26px;
            }

            .el-row{
                &__input{
                    padding: 0 12px;
                }
            }

            .first{
                .el-input__inner {
                    width: 50px;
                }

                .el-label{
                    padding: 0 9px;
                }
            }

            .second,.third{
                .el-input__inner {
                    width: 35px;
                }
                .el-label{
                    padding: 0 9px;
                }
            }

            .el-row__btn{
                .el-button{
                    padding: 7px 12px;
                }
            }
        }
    }

    table {
        table-layout: fixed;
        width: 100%;
    }

    &__content {
        width: 292px;
    }

    &__content {
        position: relative;
        margin: 15px;
    }

    &__left-part{
        float: left;
        width: 324px;
        box-sizing: border-box;
        position: relative;
        &.is-split{
            &:after{
                right: 0;
                top: 0;
                bottom: 0;
                content:'';
                position: absolute;
                width: 1px;
                background-color: $grey300;
            }
        }
    }

    &__right-part{
        float: right;
        width: 248px;
        height: 341px;
        position: relative;
    }

    &__header {
        margin: 12px;
        text-align: center;
        &-label {
            font-size: 16px;
            font-weight: 500;
            padding: 0 5px;
            line-height: 22px;
            text-align: center;
            cursor: pointer;
            color: #606266;
        }
    }

    &__icon-btn {
        font-size: 16px;
        color: #303133;
        border: 0;
        background: transparent;
        cursor: pointer;
        outline: none;
        margin-top: 8px;
        font-family: blog-icon;
        &:hover {
            color: #409eff;
        }
    }

    &__prev-btn {
        float: left;
    }

    &__next-btn {
        float: right;
    }
}
