<div class="el-date-picker"
     #select
     [class.is-disabled]="disabled"
     (click)="toggleDrop($event)"
>
    <app-input [readonly]="true"
               [placeholder]="placeholder"
               [model]="text"
               [disabled]="disabled"
               autocomplete="off"
               prefix_icon="&#xe614;"
               [class.is-reverse]="isActived"
    ></app-input>

    <div class="el-picker-panel"
         [@state]="isActived"
         [style.width]="showTime ? '574px' : '324px'"
         (click)="$event.stopPropagation()"
         #frame>
        <div [class.is-split]="showTime" class="el-picker-panel__left-part">
            <div class="el-picker-panel__header">
                <button type="button"
                        (click)="clickHandler($event,'year',-1)"
                        class="el-picker-panel__icon-btn el-picker-panel__prev-btn">
                    &#xeb0a;
                </button>
                <button type="button"
                        (click)="clickHandler($event,'month',-1)"
                        class="el-picker-panel__icon-btn el-picker-panel__prev-btn">
                    &#xeb15;
                </button>
                <span class="el-picker-panel__header-label">{{dateObj.year}} 年</span>
                <span class="el-picker-panel__header-label">{{dateObj.month}} 月</span>
                <button type="button"
                        class="el-picker-panel__icon-btn el-picker-panel__next-btn"
                        (click)="clickHandler($event,'year',1)"
                >
                    &#xeb09;
                </button>
                <button type="button"
                        (click)="clickHandler($event,'month',1)"
                        class="el-picker-panel__icon-btn el-picker-panel__next-btn">
                    &#xeb16;
                </button>
            </div>
            <div class="el-picker-panel__content">
                <table cellspacing="0" cellpadding="0" class="el-date-table" style="">
                    <tbody>
                    <tr><!---->
                        <th>日</th>
                        <th>一</th>
                        <th>二</th>
                        <th>三</th>
                        <th>四</th>
                        <th>五</th>
                        <th>六</th>
                    </tr>
                    <tr class="el-date-table__row"
                        *ngFor="let row of dateArray">
                        <td [class.prev-month]="item.type === 'lastMonth'"
                            [class.available]="item.type === 'currentMonth'"
                            [class.next-month]="item.type === 'nextMonth'"
                            [class.current]="item.isCurrent"
                            (click)="clickSelectDate($event, item)"
                            *ngFor="let item of row">
                            <div>
                                <span>{{item.day}}</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="showTime" class="el-picker-panel__right-part">
            <div class="el-row">
                <app-label class="el-right-part__top">选择时间</app-label>
            </div>
            <div class="el-row el-right-part__to-now">
                <app-label prefix_icon="&#xe614;"></app-label>
                <app-button (btnClick)="clickToNowTime($event)">转到现在</app-button>
            </div>
            <div class="el-row el-row__input">
                <app-input class="first"
                           [(ngModel)]="dateObj.year"
                           (modelChange)="timeInputHandler($event, 'year')">
                </app-input>
                <app-label class="first">年</app-label>
                <app-input class="second"
                           [(ngModel)]="dateObj.month"
                           (modelChange)="timeInputHandler($event, 'month')">
                </app-input>
                <app-label class="second">月</app-label>
                <app-input class="third"
                           [(ngModel)]="dateObj.date"
                           (modelChange)="timeInputHandler($event, 'date')">
                </app-input>
                <app-label class="third">日</app-label>
            </div>
            <div class="el-row el-row__input">
                <app-input class="first"
                           [(ngModel)]="dateObj.hour"
                           (modelChange)="timeInputHandler($event, 'hour')">
                </app-input>
                <app-label class="first">时</app-label>
                <app-input class="second"
                           [(ngModel)]="dateObj.minute"
                           (modelChange)="timeInputHandler($event, 'minute')">
                </app-input>
                <app-label class="second">分</app-label>
                <app-input class="third"
                           [(ngModel)]="dateObj.second"
                           (modelChange)="timeInputHandler($event, 'second')">
                </app-input>
                <app-label class="third">秒</app-label>
            </div>
            <div class="el-row el-row__btn">
                <app-button theme="primary" (btnClick)="clickOk($event)">确定</app-button>
            </div>
        </div>
    </div>
</div>

<!--<table class="el-year-table" style="display: none;">-->
<!--<tbody>-->
<!--<tr>-->
<!--<td class="available"><a class="cell">2010</a></td>-->
<!--<td class="available"><a class="cell">2011</a></td>-->
<!--<td class="available"><a class="cell">2012</a></td>-->
<!--<td class="available"><a class="cell">2013</a></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td class="available"><a class="cell">2014</a></td>-->
<!--<td class="available"><a class="cell">2015</a></td>-->
<!--<td class="available"><a class="cell">2016</a></td>-->
<!--<td class="available"><a class="cell">2017</a></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td class="available current today"><a class="cell">2018</a></td>-->
<!--<td class="available"><a class="cell">2019</a></td>-->
<!--<td></td>-->
<!--<td></td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--<table class="el-month-table" style="display: none;">-->
<!--<tbody>-->
<!--<tr>-->
<!--<td class=""><a class="cell">一月</a></td>-->
<!--<td class=""><a class="cell">二月</a></td>-->
<!--<td class=""><a class="cell">三月</a></td>-->
<!--<td class=""><a class="cell">四月</a></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td class=""><a class="cell">五月</a></td>-->
<!--<td class=""><a class="cell">六月</a></td>-->
<!--<td class=""><a class="cell">七月</a></td>-->
<!--<td class="current today"><a class="cell">八月</a></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td class=""><a class="cell">九月</a></td>-->
<!--<td class=""><a class="cell">十月</a></td>-->
<!--<td class=""><a class="cell">十一月</a></td>-->
<!--<td class=""><a class="cell">十二月</a></td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
