@font-face {
    font-family: 'blog-icon';  /* project id 760845 */
    src: url('//at.alicdn.com/t/font_760845_o4xtknyw1yl.eot');
    src: url('//at.alicdn.com/t/font_760845_o4xtknyw1yl.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_760845_o4xtknyw1yl.woff') format('woff'),
    url('//at.alicdn.com/t/font_760845_o4xtknyw1yl.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_760845_o4xtknyw1yl.svg#blog-icon') format('svg');
}

.icon-font {
    font-family: blog-icon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
}

.error-container {
    width: 100%;
    padding-top: 180px;
    text-align: center;
    color: #999;
}

.error-container .error-404 {
    font-size: 140px;
}

.error-container .error-text {
    font-size: 22px;
    margin-top: 50px;
}
