<div class="el-select"
     [class.is-disabled]="disabled"
     (click)="toggleDrop($event)"
>
    <app-input [readonly]="true"
               [placeholder]="placeholder"
               [model]="text"
               [disabled]="disabled"
               autocomplete="off"
               suffix_icon="&#xe635;"
               [class.is-reverse]="isActived"
    ></app-input>

    <ul class="el-select-dropdown"
        #frame
        [@state]="isActived"
    >
        <ng-content></ng-content>
    </ul>
</div>
