<div class="el-select"
    [class.is-disabled]="disabled"
>
    <div class="el-input el-input--suffix is-focus"
         [class.is-disabled]="disabled"
         (click)="toggleDrop($event)">
        <input type="text"
               readonly="readonly"
               autocomplete="off"
               [placeholder]="placeholder"
               [value]="text"
               [disabled]="disabled"
               class="el-input__inner">
        <span class="el-input__suffix">
            <span class="el-input__suffix-inner">
                <i class="el-select__caret el-input__icon icon-font"
                    [class.is-reverse]="isActived"
                >&#xe635;</i>
            </span>
        </span>
    </div>
    <ul class="el-select-dropdown"
        #frame
        [@state]="isActived"
    >
        <ng-content></ng-content>
    </ul>
</div>
