<div class="frame">
    <div class="avatar-box">
        <div class="avatar">
            <img src="http://www.fishelly.top/upload/headImg_20170409151457.jpg" alt="">
        </div>
        <div class="avatar-mask">
            <div class="btn">
                <span class="icon-font">&#xe604;</span>
                <span>修改头像</span>
            </div>
        </div>
    </div>
    <div  class="mine-info">
        <div  class="cat-name">关于我~</div>
    </div>
    <div class="row">
        <app-label class="key">账号</app-label>
        <app-label class="value">Fishelly.</app-label>
        <app-button class="modify-btn" theme="text">修改</app-button>
    </div>
    <div class="row">
        <app-label class="key">昵称</app-label>
        <app-label class="value">Fishelly.</app-label>
        <app-button class="modify-btn" theme="text">修改</app-button>
    </div>
    <div class="row">
        <app-label class="key">职位</app-label>
        <app-label class="value">Fishelly.</app-label>
        <app-button class="modify-btn" theme="text">修改</app-button>
    </div>
    <div class="row">
        <app-label class="key">个性签名</app-label>
        <app-label class="value">Fishelly.</app-label>
        <app-button class="modify-btn" theme="text">修改</app-button>
    </div>
    <div class="row">
        <app-label class="key">个人简介</app-label>
        <app-label class="value">Fishelly.</app-label>
        <app-button class="modify-btn" theme="text">修改</app-button>
    </div>
</div>
