<div class="frame">
    <div class="mine-info">
        <div class="cat-name">标签与分类管理</div>
        <app-input placeholder="请输入关键词"
                   class="search-input"
                   suffix_icon="&#xe67f;"
        >
        </app-input>
        <div class="cat-info">
            <div class="post-count left">
                <app-label>评论数量：</app-label>
                <app-label>18350</app-label>
            </div>
        </div>
    </div>
    <app-tabs>
        <app-tab-view label="分类管理" name="category" >
            <div class="list-container">
                <app-table-shown-list
                    width="960"
                    [tableBorder]="true"
                    [format]="listFormat"
                    [operations]="listOperations"
                ></app-table-shown-list>
            </div>
        </app-tab-view>
        <app-tab-view label="标签管理" name="tag"  >
            <div class="list-container">
                <app-table-shown-list
                    width="960"
                    [tableBorder]="true"
                    [format]="listFormat"
                    [operations]="listOperations"
                ></app-table-shown-list>
            </div>
        </app-tab-view>
    </app-tabs>
    <div class="ft">
        <app-pagination></app-pagination>
    </div>
</div>
