<header class="common-header">
    <div class="container">
        <a href="http://www.fishelly.top" class="left-part">
            Fishelly Idx.
        </a>

        <div class="right-part">
            <img data-v-113d1a54="" src="https://cloud.southcn.com/api/user/avatar/1" class="avatar">
            <div data-v-113d1a54="" class="text-item">
                Fishelly
            </div>
            <div data-v-113d1a54="" class="icon-item">
                &#xe628;
            </div>
        </div>
    </div>
</header>
