<header class="common-header">
    <div class="container">
        <a href="http://www.fishelly.top" class="left-part">
            <ng-content></ng-content>
        </a>

        <div class="right-part" *ngIf="showRight">
            <img data-v-113d1a54="" [src]="user.headImg" class="avatar">
            <div data-v-113d1a54="" class="text-item">
                {{user.name}}
            </div>
            <div data-v-113d1a54="" class="icon-item" (click)="logout()">
                &#xe628;
            </div>
        </div>
    </div>
</header>
