<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <!--<app-button theme="primary" (click)="clickEvent($event)">-->
        <!--测试1-->
    <!--</app-button>-->
    <!--<app-button theme="primary" (click)="clickEvent($event)">-->
        <!--测试2-->
    <!--</app-button>-->
</div>
<br>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <!--<app-button type="file" disabled="true" (change)="changeEvent($event)" text="测试-File">-->
    <!--</app-button>-->
</div>

<br>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <app-checkbox-group [(ngModel)]="check" [disabled]="cbDisabled" (change)="changeEvent($event)">
        <app-checkbox *ngFor="let item of labels; index as i; " [label]="item">{{item + i}}</app-checkbox>
    </app-checkbox-group>

</div>
<br>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <app-label suffix_icon='&#xe60f;'>demo1</app-label>
    <app-input></app-input>
</div>
<br>

<div style="text-align: center" >
    <app-radio-group  [(ngModel)]="radio" [disabled]="cbDisabled">
        <app-radio [label]="0">demo0</app-radio>
        <app-radio [label]="1">demo1</app-radio>
        <app-radio [label]="2">demo2</app-radio>
    </app-radio-group>
</div>

<br>

<div style="text-align: center" >
    <app-switch active-text="aaaaa"  inactive-text="bbbbbb" [disabled]="true"
                [(ngModel)]="!switch"
                (modelChange)="changeEvent($event)"></app-switch>
</div>

<br>

<div style="text-align: center">
    <app-textarea [(ngModel)]="textarea" [readonly]="true"></app-textarea>
</div>

<br>

<div style="text-align: center">
    <app-pagination [current]="1" [limit]="10" [total]="10" (changeLimit)="changeEvent($event)" (changePage)="changeEvent($event)"></app-pagination>
</div>


<br>

<div style="text-align: center">
    <app-tag leftIcon="&#xe60f;" [isHover]="true" type="success" rightIcon="&#xe60f;">测试A</app-tag>
</div>
