@import "../../../assets/var";

.el-tag {
    display: inline-block;
    padding: 0 10px;
    height: 32px;
    line-height: 30px;
    font-size: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;
    color: $blue400;
    background-color: rgba(64, 158, 255, .1);
    border: 1px solid rgba(64, 158, 255, .2);

    &.el-tag--default {
        color: $blue400;
        background-color: rgba(64, 158, 255, .1);
        border: 1px solid rgba(64, 158, 255, .2);
        .el-tag__icon.is-hover {
            &:hover {
                background-color: $blue400;
                color: $whiteBg;
            }
        }
    }

    &.el-tag--success {
        background-color: rgba(103, 194, 58, .1);
        border-color: rgba(103, 194, 58, .2);
        color: $green400;
        .el-tag__icon.is-hover {
            &:hover {
                background-color: $green400;
                color: $whiteBg;
            }
        }
    }

    &.el-tag--info {
        background-color: hsla(220, 4%, 58%, .1);
        border-color: hsla(220, 4%, 58%, .2);
        color: $grey500;
        .el-tag__icon.is-hover {
            &:hover {
                background-color: $grey500;
                color: $whiteBg;
            }
        }
    }

    &.el-tag--warning {
        background-color: rgba(230, 162, 60, .1);
        border-color: rgba(230, 162, 60, .2);
        color: #e6a23c;
        .el-tag__icon.is-hover {
            &:hover {
                background-color: #e6a23c;
                color: $whiteBg;
            }
        }
    }

    &.el-tag-danger {
        background-color: hsla(0, 87%, 69%, .1);
        border-color: hsla(0, 87%, 69%, .2);
        color: $red500;
        .el-tag__icon.is-hover {
            &:hover {
                background-color: $red500;
                color: $whiteBg;
            }
        }
    }

    .el-tag__icon {
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        font-size: 12px;
        height: 16px;
        width: 16px;
        line-height: 16px;
        vertical-align: middle;
        top: -1px;
        font-family: blog-icon;
        font-style: normal;
        text-align: center;
        //background-color: #333;
        display: inline-block;

        &.el-tag__icon__left {
            margin-right: 5px;
        }
        &.el-tag__icon__right {
            margin-left: 5px;
        }
    }
}
