$color-FFF: #FFF;

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0.3);
  border-bottom: 1px solid #eaeaea;
  color: $color-FFF;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
  font-size: 32px;
  font-weight: bold;
  .mobile-menu-button {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    display: none;
    height: 100%;
    align-items: center;
    padding: 0 20px;
  }

  .lines-button {
    transition: .2s;
  }

  .lines-button.x2 .lines {
    -webkit-transition: background 0.2s 0.3s ease-in-out;
    -moz-transition: background 0.2s 0.3s ease-in-out;
    -o-transition: background 0.2s 0.3s ease-in-out;
    transition: background 0.2s 0.3s ease-in-out;
  }

  .mobile-menu-button-light .lines, .mobile-menu-button-light .lines:before, .mobile-menu-button-light .lines:after {
    background: #FFF;
  }
  .lines {
    position: relative;
    &, &:before, &:after {
      content: '';
      display: inline-block;
      width: 20px;
      height: 2px;
      transition: 0.2s;
      -webkit-border-radius: 5px;
      -webkit-background-clip: padding-box;
      -moz-border-radius: 5px;
      -moz-background-clip: padding;
      border-radius: 5px;
      background-clip: padding-box;
    }
    &:before {
      position: absolute;
      top: -6px;
    }
    &:after {
      position: absolute;
      top: 6px;
    }

  }

  .header-nav {
    > a {
      height: 100%;
      display: flex;
      margin-right: 20px;
      align-items: center;
    }
    display: flex;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
  }

}

.dropdown-menu-m{
  position: relative;
  top:64px;
  &.dropdown{
    height: 150px;
  }
  height: 0;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  background-color: rgba(0,0,0,.65);
  >ul{
    position: relative;
    box-sizing: border-box;
    padding: 16px 0;
    list-style: none;
    li{
      a{
        display: inline-block;
        width: 100%;
        color: #FFF;
      }
      box-sizing: border-box;
      padding: 5px 0;
      &:after{
        content: " ";
        display: inline-block;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        height: 5px;
        width: 5px;
        top: -11px;
        border-width: 2px 2px 0 0;
        border-color: #666666;
        border-style: solid;
        position: relative;
        float: right;
        margin-left: 0.26666rem;
      }
    }
  }
}

@mixin transform-rotate($v1,$v2,$v3,$v4){
  -webkit-transform: rotate3d($v1,$v2,$v3,$v4);
  -moz-transform: rotate3d($v1,$v2,$v3,$v4);
  -o-transform: rotate3d($v1,$v2,$v3,$v4);
  -ms-transform: rotate3d($v1,$v2,$v3,$v4);
  transform: rotate3d($v1,$v2,$v3,$v4);
}

@mixin menu-btn-ease{
  -webkit-transition: top 0.2s ease-in-out, -webkit-transform 0.2s 0.3s ease-in-out;
  -moz-transition: top 0.2s ease-in-out, -moz-transform 0.2s 0.3s ease-in-out;
  -o-transition: top 0.2s ease-in-out, -o-transform 0.2s 0.3s ease-in-out;
  transition: top 0.2s ease-in-out, -webkit-transform 0.2s 0.3s ease-in-out,
  -moz-transform 0.2s 0.3s ease-in-out, -o-transform 0.2s 0.3s ease-in-out, transform 0.2s 0.3s ease-in-out;
  top: 0;
  width: 20px;
}

@media (max-width: 960px)  {
  .header{
    height: 48px!important;
    font-size: 24px;
  }
  .dropdown-menu-m {
    top: 48px !important;
  }
  .mobile-menu-button {
    display: flex !important;
  }
  .header-nav {
    display: none !important;
  }
  .lines-button{
    &.x2.close{
      .lines {
        height: 0;
        &:before {
          @include transform-rotate(0,0,1,45deg);
          @include menu-btn-ease;
        }
        &:after {
          @include transform-rotate(0,0,1,-45deg);
          @include menu-btn-ease;
        }
      }
    }
  }


}

//@media (min-width: 961px) and (orientation: landscape){
//  .mobile-menu-button {
//    display: none ;
//  }
//}

a{
  text-decoration: none;
  &:visited{
    color: #FFF;
    text-decoration: none;
  }
}





