<div class="login-frame">
    <div class="frame-header">
        <div class="title">
            Fishelly Idx.
        </div>
        <div class="slogen">
            Web Front End
        </div>
    </div>
    <div class="frame-body">
        <div class="row">
            <app-input placeholder="账号" prefix_icon="&#xe693;"></app-input>
        </div>
        <div class="row">
            <app-input placeholder="密码" prefix_icon="&#xe683;"></app-input>
        </div>
        <div class="row">
            <app-checkbox>记住密码</app-checkbox>
        </div>
        <div class="row error">
            xxxxx
        </div>
        <div class="row">
            <app-button theme="primary">登录</app-button>
        </div>
    </div>
</div>
