.el-dialog__header{
    padding: 20px 20px 10px 20px;
    position: relative;
    .el-dialog__title{
        line-height: 24px;
        font-size: 18px;
        color: #303133;
    }

    .el-dialog__headerbtn{
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        i{
            color: #909399;
            &:hover{
                color: #409eff;
            }
        }
    }
}
