<div class="frame">
    <div class="mine-info">
        <div class="cat-name">素材管理</div>
        <app-input placeholder="请输入关键词"
                   class="search-input"
                   [(ngModel)]="keyword"
                   (keyup.enter)="search()"
                   suffix_icon="&#xe67f;"
        >
        </app-input>
        <app-button class="upload-btn"
                    type="file"
                    [multiple]="true"
                    icon="&#xe682;"
                    text="上传图片"
                    (filesChange)="onSelectFile($event)">
        </app-button>
        <div class="cat-info">
            <div class="post-count left">
                <app-label>素材数量：</app-label>
                <app-label>{{dataTotal}}</app-label>
            </div>
        </div>
    </div>

    <div class="materials-box">
        <app-loading [hidden]="!loading"></app-loading>
        <div class="materials-item" *ngFor="let item of materials">
            <div class="mask" [hidden]="!item.status">
                <p class="text">{{item.progress}}</p>
            </div>
            <div class="img-box">
                <img [src]="item.src" alt=""/>
            </div>
            <div class="title-box" (click)="updateImage($event, item)">
                <app-label [isTrust]="true" [text]="item.kw_text"></app-label>
            </div>
            <div class="date-box">
                <app-label>{{item.date * 1000 | date: "yyyy-MM-dd HH:mm" }}</app-label>
                <app-button theme="text" (btnClick)="deleteImage(item)">删除</app-button>
            </div>
        </div>
    </div>

    <div class="ft">
        <app-pagination
            [total]="dataPage.total"
            [current]="dataPage.current"
            [limit]="dataPage.limit"
            (changePage)="changePage($event)"
        ></app-pagination>
    </div>
</div>
