@import "../../../assets/var";

.frame {
    //padding: 0 20px 0 10px;
    box-sizing: border-box;
    position: relative;
    height: auto;

    .mine-info {
        padding: 0 20px;
        ::ng-deep {
            .search-input {
                .el-input {
                    position: absolute;
                    right: 20px;
                    top: 13px;
                    width: 230px;
                }
            }
            .el-label {
                padding: 9px 0;
            }

        }
    }

    .materials-box {
        min-height: 300px;
        height: auto;
        overflow: hidden;
        box-sizing: border-box;
        padding: 0 7px;


    }
    .ft {
        box-sizing: border-box;
        padding: 0 20px;
        margin-top: 100px;
    }
}
