<div class="frame">
    <div class="mine-info">
        <div class="cat-name">素材管理</div>
        <app-input placeholder="请输入关键词"
                   class="search-input"
                   suffix_icon="&#xe67f;"
        >
        </app-input>
        <app-button class="upload-btn">
            <span class="icon-font">&#xe682;</span>
            <span>上传图片</span>
        </app-button>
        <div class="cat-info">
            <div class="post-count left">
                <app-label>素材数量：</app-label>
                <app-label>18350</app-label>
            </div>
        </div>
    </div>

    <div class="materials-box">
        <div class="materials-item">
            <div class="img-box">
                <img src="http://www.fishelly.top/upload/headImg_20170409151457.jpg" alt="">
            </div>
            <div class="title-box">
                <app-label>测试图片测试图片---test</app-label>
            </div>
            <div class="date-box">
                <app-label>2018-01-01 11:11</app-label>
                <app-button theme="text">删除</app-button>
            </div>
        </div>
        <div class="materials-item">
            <div class="img-box">
                <img src="http://www.fishelly.top/upload/headImg_20170409151457.jpg" alt="">
            </div>
            <div class="title-box">
                <app-label>测试图片测试图片---test</app-label>
            </div>
            <div class="date-box">
                <app-label>2018-01-01 11:11</app-label>
                <app-button theme="text">删除</app-button>
            </div>
        </div>
        <div class="materials-item">
            <div class="img-box">
                <img src="http://www.fishelly.top/upload/headImg_20170409151457.jpg" alt="">
            </div>
            <div class="title-box">
                <app-label>测试图片测试图片---test</app-label>
            </div>
            <div class="date-box">
                <app-label>2018-01-01 11:11</app-label>
                <app-button theme="text">删除</app-button>
            </div>
        </div>
        <div class="materials-item">
            <div class="img-box">
                <img src="http://www.fishelly.top/upload/headImg_20170409151457.jpg" alt="">
            </div>
            <div class="title-box">
                <app-label>测试图片测试图片---test</app-label>
            </div>
            <div class="date-box">
                <app-label>2018-01-01 11:11</app-label>
                <app-button theme="text">删除</app-button>
            </div>
        </div>
        <div class="materials-item">
            <div class="img-box">
                <img src="http://www.fishelly.top/upload/headImg_20170409151457.jpg" alt="">
            </div>
            <div class="title-box">
                <app-label>测试图片测试图片---test</app-label>
            </div>
            <div class="date-box">
                <app-label>2018-01-01 11:11</app-label>
                <app-button theme="text">删除</app-button>
            </div>
        </div>
    </div>

    <div class="ft">
        <app-pagination></app-pagination>
    </div>
</div>
