@import "../../../assets/var";
.el-select-dropdown__item {
    text-align: left;
    font-size: 14px;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $grey700;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer;

    &.is-selected{
        color: $blue400;
        font-weight: 700;
    }

    &.is-{
        &disabled{
            color: #c0c4cc;
            cursor: not-allowed;
            font-weight: 100;
            &:hover{
                background-color: transparent;
            }
        }
    }

    &:hover{
        background-color: $grey100;
    }
}
