.el-dialog{
    width: 794px;
    height: 620px;

    .el-dialog__body{
        height: 500px;
        box-sizing: border-box;
        padding: 0;
        .material-box{
            padding: 0 25px;
            height: 440px;
            overflow-y: auto;

            ::ng-deep{
                .title-box{
                    .el-label{
                        padding-left: 0;
                    }
                }

            }
        }

        .ft{
            margin-top: 10px;
            box-sizing: border-box;
            padding: 0 20px;
        }

        .materials-item{
            height: 200px;
        }
    }
}
