.image-inturn {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position:50% 50%;
  opacity: 1;
  transition: all ease 1000ms;
  background-color: #333;
  box-sizing: border-box;
}
