<div class="frame">
    <div class="mine-info">
        <div class="cat-name">评论管理</div>
        <app-input placeholder="请输入搜索评论内容关键词"
                   class="search-input"
                   suffix_icon="&#xe67f;"
                   [(ngModel)]="keyword"
                   (keyup.enter)="search()"
        >
        </app-input>
        <div class="cat-info">
            <div class="post-count left">
                <app-label>评论数量：</app-label>
                <app-label>{{dataTotal}}</app-label>
            </div>
        </div>
    </div>

    <div class="comment-box">
        <app-loading [hidden]="!loading"></app-loading>
        <div class="comment-item" *ngFor="let item of comments">
            <div class="row title">
                <app-label>原文：</app-label>
                <a href="{{global.webURL.index}}/article/{{item.article}}">
                    <app-label class="post-title">{{item.article_data.title}}</app-label>
                </a>
                <app-button (btnClick)="onDelete(item)" theme="text">删除</app-button>
            </div>
            <div class="row content" *ngIf="item.quotes">
                <app-label>引用（{{item.quotes.name}}）：{{item.quotes.content}}</app-label>
            </div>
            <div class="row content">
                <app-label [isTrust]="true" [text]="item.kw_text"></app-label>
            </div>
            <div class="row commenter">
                <!--来自： abc  /  abc@abc  /  http://abc.com  /  2018-04-08 13:10-->
                <app-label>来自：</app-label>
                <app-label>{{item.visitor.name}}</app-label>
                <app-label>/</app-label>
                <app-label>{{item.visitor.email}}</app-label>
                <app-label>/</app-label>
                <app-label><a [href]="item.visitor.userIdx">{{item.visitor.userIdx}}</a></app-label>
                <app-label>/</app-label>
                <app-label>{{item.date * 1000 | date:"yyyy-MM-dd HH:mm" }}</app-label>
            </div>
        </div>
    </div>

    <div class="ft">
        <app-pagination
            [total]="dataPage.total"
            [current]="dataPage.current"
            [limit]="dataPage.limit"
            (changePage)="changePage($event)"
        ></app-pagination>
    </div>
</div>
