<div class="frame">
    <div class="mine-info">
        <div class="cat-name">评论管理</div>
        <app-input placeholder="请输入关键词"
                   class="search-input"
                   suffix_icon="&#xe67f;"
        >
        </app-input>
        <div class="cat-info">
            <div class="post-count left">
                <app-label>评论数量：</app-label>
                <app-label>18350</app-label>
            </div>
        </div>
    </div>

    <div class="comment-box">
        <div class="comment-item">
            <div class="row title">
                <app-label>原文：</app-label>
                <a href="">
                    <app-label class="post-title">浏览器是如何工作的（解析篇）</app-label>
                </a>
            </div>
            <div class="row content">
                <app-label>如有不对的地方欢迎指正。如有不对的地方欢迎指正。如有不对的地方欢迎指正。如有不对的地方欢迎指正。</app-label>
            </div>
            <div class="row commenter">
                <!--来自： abc  /  abc@abc  /  http://abc.com  /  2018-04-08 13:10-->
                <app-label>来自：</app-label>
                <app-label>abc</app-label>
                <app-label>/</app-label>
                <app-label>ab@ab.com</app-label>
                <app-label>/</app-label>
                <app-label>hhtp://wwww.ad.com</app-label>
                <app-label>/</app-label>
                <app-label>2018-04-08 12:10</app-label>
            </div>
        </div>
        <div class="comment-item">
            <div class="row title">
                <app-label>原文：</app-label>
                <a href="">
                    <app-label class="post-title">浏览器是如何工作的（解析篇）</app-label>
                </a>
            </div>
            <div class="row content">
                <app-label>如有不对的地方欢迎指正。如有不对的地方欢迎指正。如有不对的地方欢迎指正。如有不对的地方欢迎指正。</app-label>
            </div>
            <div class="row commenter">
                <!--来自： abc  /  abc@abc  /  http://abc.com  /  2018-04-08 13:10-->
                <app-label>来自：</app-label>
                <app-label>abc</app-label>
                <app-label>/</app-label>
                <app-label>ab@ab.com</app-label>
                <app-label>/</app-label>
                <app-label>hhtp://wwww.ad.com</app-label>
                <app-label>/</app-label>
                <app-label>2018-04-08 12:10</app-label>
            </div>
        </div>
    </div>

    <div class="ft">
        <app-pagination></app-pagination>
    </div>
</div>
