<div class="menu-box">
    <div class="item">
        <span class="icon">&#xe60b;</span>
        <span>文章管理</span>
    </div>
    <div class="item">
        <span>文章列表</span>
    </div>
    <div class="item">
        <span>发布文章</span>
    </div>
    <div class="item">
        <span class="icon">&#xe66e;</span>
        <span>标签和类别</span>
    </div>
    <div class="item">
        <span class="icon">&#xe73f;</span>
        <span>素材库</span>
    </div>
    <div class="item">
        <span class="icon">&#xe65d;</span>
        <span>评论管理</span>
    </div>
    <div class="item">
        <span class="icon">&#xe625;</span>
        <span>关于我</span>
    </div>
</div>
