@font-face {
    font-family: 'blog-icon';  /* project id 760845 */
    src: url('//at.alicdn.com/t/font_760845_bls47az7sgh.eot');
    src: url('//at.alicdn.com/t/font_760845_bls47az7sgh.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_760845_bls47az7sgh.woff') format('woff'),
    url('//at.alicdn.com/t/font_760845_bls47az7sgh.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_760845_bls47az7sgh.svg#blog-icon') format('svg');
}
