@font-face {
    font-family: 'blog-icon';  /* project id 760845 */
    src: url('//at.alicdn.com/t/font_760845_xw1u9js2pb.eot');
    src: url('//at.alicdn.com/t/font_760845_xw1u9js2pb.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_760845_xw1u9js2pb.woff') format('woff'),
    url('//at.alicdn.com/t/font_760845_xw1u9js2pb.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_760845_xw1u9js2pb.svg#blog-icon') format('svg');
}

.icon-font{
    font-family: blog-icon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
}
