<div class="el-pagination">
    <div class="el-pagination-part">
        <span class="el-pagination-label">每页显示</span>
        <input class="el-pagination-input">
        <span class="el-pagination-label">条</span>
        <div class="el-pagination-button">修改</div>
    </div>

    <div class="el-pagination-part">
        <span class="el-pagination-label">页码</span>
        <div class="el-pagination-label">1 / 56</div>
        <div class="el-pagination-button">
            <span class="icon"></span>
        </div>
        <input class="el-pagination-input">
        <div class="el-pagination-button">跳转</div>
    </div>
</div>
